<div class="ball" style="padding:5px;">
    <div class="modal-body">
        <div class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <legend>{{ProjectModalCtrl.data.text}}</legend>
                    <div class="row">
                        <div ng-repeat="require in ProjectModalCtrl.createRequirements" style="margin-left:15px">
                            <div class="update-project">
                                <label for="cpid" class="control-label col-sm-2">{{require.label|capitalize}}: </label>
                                <div class="col-sm-9">
                                    <a ng-if="require.type == 'select'">
                                            <select class="form-control" dynamic-model="'ProjectModalCtrl.project.' + require.label" ng-options="option for option in require.selects"></select>
                                    </a>
                                    <a ng-if="require.type == 'text'">
                                        <input type="text" class="form-control" dynamic-model="'ProjectModalCtrl.project.' + require.label"/>
                                    </a>
                                    <a ng-if="require.type == 'textarea'">
                                        <textarea rows="2" class="form-control" cols="50" dynamic-model="'ProjectModalCtrl.project.' + require.label">
                                        </textarea>
                                    </a>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <div ng-show="ProjectModalCtrl.showCreateError" style="padding:0px;" class="col-md-6 alert alert-danger" role="alert">
                <span class="pull-right">&nbsp;{{ProjectModalCtrl.error}}</span>
                <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
        </div>
        <button class="btn btn-primary" ng-click="ProjectModalCtrl.confirm()">Ok</button>
        <button class="btn btn-default" ng-click="ProjectModalCtrl.cancel()">Cancel</button>
    </div>
</div>