<div class="modal-header"><h3 class="modal-title">Confirm</h3></div>
<div class="modal-body">
    <div class="form-group">
        <h4>Update</h4>
        <div class="row">
            <div ng-repeat="require in updateModal.createRequirements">
                <div class="update-project" style="margin-left:24px;">
                    <p class="input-group">
                        <label for="cpid">{{require.label|capitalize}}: </label>
                        <a ng-if="require.type == 'text'">
                            <input type="text" dynamic-model="'updateModal.' + require.label"/>
                        </a>
                        <a ng-if="require.type == 'textarea'">
                            <textarea rows="2" cols="50" value={{require.vaule}} dynamic-model="'updateModal.' + require.label">
                            </textarea>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="updateModal.confirm()">Ok</button>
    <button class="btn btn-default" ng-click="updateModal.cancel()">Cancel</button>
</div>
