<h3>Projects</h3>

<div class="row" style="margin-bottom:24px;"></div>
<div class="row podsTable" style="vertical-align:middle">
    <div class="col-sm-1 pull-right" ng-class="{ 'hidden': !((auth.projectNames.length>0) &&
        auth.isAuthenticated) && authenticate}" >
            <button type="button" class="btn btn-danger" ng-click="ctrl.openBatchDeleteModal()">
              <i class="fa fa-minus"></i> Delete</button>
    </div>
    <div class="col-sm-1 pull-right"  ng-class="{ 'hidden': ! ((auth.projectNames.length>0) &&
        auth.isAuthenticated) && authenticate}">
        <button type="button" class="btn btn-success" ng-click="ctrl.openCreateModal()">
          <i class="fa fa-plus"></i> Create</button>
    </div>
    <div class="col-sm-1 pull-right">
        <button type="button" class="btn btn-success" ng-click="ctrl.listProjects()">
          <i class="fa fa-search"></i> Filter</button>
    </div>
    <div class="col-sm-3 pull-right">
        <span style="margin-top:6px">Search:&nbsp;&nbsp;</span>
        <input type="text" class="form-control search" ng-Model="ctrl.filterText" style="width:80%;" placeholder="Search By Name">
    </div>
</div>
<div class='clo-md-12'>
    <div ng-show="ctrl.showError" class="alert alert-danger" role="alert">
        <span class="pull-right">&nbsp;{{ctrl.error}}</span>
        <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
    </div>
    <div ng-show="ctrl.showSuccess" class="alert alert-success" role="alert">
        <span class="pull-right">&nbsp;{{ctrl.success}}</span>
        <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
    </div>
</div>
<div class='clo-md-12' style="padding-right:0px">
    <div class="table-responsive">
        <table class="table table-bordered table-hover"  ng-data="ctrl.data.projects">
        <thead>
        <tr style="
        text-align: center;">
            <th style="width: 1%;">Bulk Select</th>
            <th style="width: 19%;">Name</th>
            <th style="width: 70%;">Description</th>
            <th style="width: 10%;" ng-class="{'hidden': ! ((auth.projectNames.length>0) && auth.isAuthenticated) && authenticate}">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="(index, project) in ctrl.data.projects" style="padding:9px">
            <td>
            <div class="text-center">
                    <input type="checkbox" value="{{project.name}}"  ng-model="ctrl.checkBox[index]" >
                </div>
            </td>
            <td><a class="text-info" ng-click="ctrl.viewProject(project.name)">{{project.name}}</a></td>
            <td>{{project.description}}</td>
            <td ng-class="{'hidden': ! ((auth.projectNames.length>0) && auth.isAuthenticated) && authenticate}">
                <span class="podsTable-col">
                    <a class="text-warning" ng-click="ctrl.openUpdateModal(project.name)" title="Edit" >
                        <i class="fa fa-pencil-square-o"></i></a>
                    <a class="text-danger"  ng-click="ctrl.openDeleteModal(project.name)" title="Delete" >
                        <i class="fa fa-trash-o"></i></a>
                </span>
            </td>
        </tr>
        <tr ng-repeat-end=>
        </tr>
        </tbody>
        </table>
    </div>
</div>