<div class="ball" style="padding:5px;">
        <div class="modal-body">
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <legend>{{customModalCtrl.data.text}}</legend>
                        <div class="row">
                                <div class="update-project">
                                    <label for="cpid" class="control-label col-sm-4">Custom: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="customModalCtrl.custom"/>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-show="customModalCtrl.showCreateError" style="padding:0px;" class="col-md-6 alert alert-danger" role="alert">
                    <span class="pull-right">&nbsp;{{customModalCtrl.error}}</span>
                    <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
            </div>
            <button class="btn btn-primary" ng-click="customModalCtrl.confirm()">Ok</button>
            <button class="btn btn-default" ng-click="customModalCtrl.cancel()">Cancel</button>
        </div>
    </div>