<div class="ball" style="padding:5px;">
    <div class="modal-body">
        <div class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <legend>{{scenarioModalController.data.text}}</legend>
                    <div class="row">
                            <div class="update-project">
                                <div class="col-sm-4">
                                <label for="cpid" class="control-label col-sm-2"> Name: </label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="scenarioModalController.scenario.name"/>
                                    <p class="help-block"></p>
                                    </div>
                            </div>
                            <div class="update-project">
                                <div class="col-sm-4">
                                    <label for="cpid" class="control-label col-sm-2"> Installer: </label>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary" ng-click="scenarioModalController.openInstallerModal()">Add&nbsp;Installer</button>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </fieldset>
        </div>
        <div class='clo-md-12' style="padding-right:0px">
                <h3>Installers</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover"  ng-data="scenarioModalController.scenario">
                    <thead>
                    <tr style="
                    text-align: center;">
                        <th style="width: 19%;">Installers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="(index, installer) in scenarioModalController.scenario.installers" style="padding:9px">
                        <td>{{installer.installer}}</td>
                    </tr>
                    <tr ng-repeat-end=>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <div ng-show="scenarioModalController.showCreateError" style="padding:0px;" class="col-md-6 alert alert-danger" role="alert">
                <span class="pull-right">&nbsp;{{scenarioModalController.error}}</span>
                <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
        </div>
        <button class="btn btn-primary" ng-click="scenarioModalController.confirm()">Ok</button>
        <button class="btn btn-default" ng-click="scenarioModalController.cancel()">Cancel</button>
    </div>
</div>