<div class="ball" style="padding:5px;">
        <div class="modal-body">
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <legend>{{trustIndicatorModalCtrl.data.text}}</legend>
                        <div class="row">
                                <div class="update-project">
                                    <label for="cpid" class="control-label col-sm-4">Status: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="trustIndicatorModalCtrl.ti.status"/>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="update-project">
                                    <div>
                                        <div class="col-md-4" style="text-align:right;">
                                            <span style="margin-top:6px;">Date:&nbsp;&nbsp;</span>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="input-group" style="display:inline-flex;">
                                                <input type="text" class="form-control"
                                                    uib-datepicker-popup="{{trustIndicatorModalCtrl.format}}"
                                                    ng-model="trustIndicatorModalCtrl.ti.date" is-open="trustIndicatorModalCtrl.endOpen"
                                                    close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="trustIndicatorModalCtrl.open($event, 'endOpen')">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-show="trustIndicatorModalCtrl.showCreateError" style="padding:0px;" class="col-md-6 alert alert-danger" role="alert">
                    <span class="pull-right">&nbsp;{{trustIndicatorModalCtrl.error}}</span>
                    <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
            </div>
            <button class="btn btn-primary" ng-click="trustIndicatorModalCtrl.confirm()">Ok</button>
            <button class="btn btn-default" ng-click="trustIndicatorModalCtrl.cancel()">Cancel</button>
        </div>
    </div>