<div class="ball" style="padding:5px;">
        <div class="modal-body">
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <legend>{{versionModalCtrl.data.text}}</legend>
                        <div class="row">
                                <div class="update-project">
                                    <div class="col-sm-4">
                                        <label for="cpid" class="control-label col-sm-2"> Version: </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="versionModalCtrl.version.version"/>
                                            <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="update-project">
                                    <div class="col-sm-4">
                                        <label for="cpid" class="control-label col-sm-2"> Owner: </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="versionModalCtrl.version.owner"/>
                                            <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="update-project">
                                    <div class="col-sm-4">
                                    <label for="cpid" class="control-label col-sm-2"> Project: </label>
                                    </div>
                                    <div class="col-sm-4">
                                    <button class="btn btn-primary" ng-click="versionModalCtrl.openProjectModal()">Add&nbsp;Project:</button>
                                        <p class="help-block"></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
            </div>
            <div class='clo-md-12' style="padding-right:0px">
                    <h3>Projects</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover"  ng-data="versionModalCtrl.version.projects">
                        <thead>
                        <tr style="
                        text-align: center;">
                            <th style="width: 19%;">Project</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="(index, project) in versionModalCtrl.version.projects" style="padding:9px">
                            <td>{{project.project}}</td>
                        </tr>
                        <tr ng-repeat-end=>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <div ng-show="versionModalCtrl.showCreateError" style="padding:0px;" class="col-md-6 alert alert-danger" role="alert">
                    <span class="pull-right">&nbsp;{{versionModalCtrl.error}}</span>
                    <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
            </div>
            <button class="btn btn-primary" ng-click="versionModalCtrl.confirm()">Ok</button>
            <button class="btn btn-default" ng-click="versionModalCtrl.cancel()">Cancel</button>
        </div>
    </div>