<div ng-controller="TestCasesController as testCasesCtrl" class="col-md-12">
<div class="row podsTable" style="vertical-align:middle">
    <div class="col-sm-1 pull-right" ng-class="{ 'hidden': ! ((auth.projectNames.length>0) &&
        auth.isAuthenticated) }" >
            <button type="button" class="btn btn-danger" ng-click="testCasesCtrl.openBatchDeleteModal()">
              <i class="fa fa-minus"></i> Delete</button>
    </div>
    <div class="col-sm-1 pull-right"  ng-class="{ 'hidden': ! ((auth.projectNames.length>0) &&
        auth.isAuthenticated) }">
        <button type="button" class="btn btn-success" ng-click="testCasesCtrl.openCreateModal()">
          <i class="fa fa-plus"></i> Create</button>
    </div>
</div>
<div class='clo-md-12'>
    <div ng-show="testCasesCtrl.showError" class="alert alert-danger" role="alert">
        <span class="pull-right">&nbsp;{{testCasesCtrl.error}}</span>
        <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
    </div>
    <div ng-show="testCasesCtrl.showSuccess" class="alert alert-success" role="alert">
        <span class="pull-right">&nbsp;{{testCasesCtrl.successMessage}}</span>
        <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
    </div>
</div>
<div class='clo-md-12' style="padding-right:0px">
    <div class="table-responsive">
        <table class="table table-bordered table-hover"  ng-data="testCasesCtrl.data.testcases">
        <thead>
        <tr style="
        text-align: center;">
            <th style="width: 1%;">Bulk Select</th>
            <th style="width: 19%;">Name</th>
            <th style="width: 20%;">Tier</th>
            <th style="width: 20%;">Blocking</th>
            <th style="width: 20%;">CI&nbsp;Loop</th>
            <th style="width: 20%;" ng-class="{'hidden': ! ((auth.projectNames.length>0) && auth.isAuthenticated)}">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="(index, testcase) in testCasesCtrl.data.testcases" style="padding:9px">
            <td>
            <div class="text-center">
                    <input type="checkbox" value="{{project.name}}"  ng-model="testCasesCtrl.checkBox[index]" >
                </div>
            </td>
            <td>
                <a class="text-info" ng-click="testCasesCtrl.viewTestCase(testcase.name, testcase.project_name)">
                    {{testcase.name}}
                </a>
            </td>
            <td>{{testcase.tier}}</td>
            <td>{{testcase.blocking}}</td>
            <td>{{testcase.ci_loop}}</td>
            <td ng-class="{'hidden': ! ((auth.projectNames.length>0) && auth.isAuthenticated)}">
                <span class="podsTable-col">
                    <a class="text-warning" ng-click="testCasesCtrl.openUpdateTestModal(testcase.name)" title="Edit">
                        <i class="fa fa-pencil-square-o"></i></a>
                    <a class="text-danger"  ng-click="testCasesCtrl.openDeleteTestModal(testcase.name)" title="Delete">
                        <i class="fa fa-trash-o"></i></a>
                </span>
            </td>
        </tr>
        <tr ng-repeat-end=>
        </tr>
        </tbody>
        </table>
    </div>
</div>
</div>
