<legend>Scenario</legend>
<div style="padding-right:0px" class="col-md-12">
    <div class="table-responsive">
        <table class="table"  ng-data="ctrl.data">
            <tbody>
                <tr style="padding:9px">
                    <td class="podsTableTd">Id&nbsp;:</td>
                    <td class="podsTableLeftTd">{{ctrl.data.scenarios[0]._id}}</td>
                </tr>
                <tr style="padding:9px">
                    <td class="podsTableTd">Name&nbsp;:</td>
                    <td width="90%" class="podsTableLeftTd">{{ctrl.data.scenarios[0].name}}</td>
                </tr>
                <tr style="padding:9px">
                        <td class="podsTableTd">Created&nbsp;at&nbsp;:</td>
                        <td width="90%" class="podsTableLeftTd">{{ctrl.data.scenarios[0].creation_date}}</td>
                </tr>
                <tr style="padding:9px">
                    <td class="podsTableTd">Installers</td>
                    <td width="90%" class="podsTableLeftTd">
                        <div class="col-md-1" style="padding:0px">
                            <a ng-click="ctrl.expandInstallers()">
                                    <p ng-if="ctrl.collapeInstallers">Hide</p>
                                    <p ng-if="!ctrl.collapeInstallers">Show</p>
                            </a>
                        </div>
                        <div class="col-md-1" style="padding:0px" ng-class="{'hidden' : !ctrl.buttonInstaller || !auth.isAuthenticated}">
                            <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.openAddInstaller()" ><i class="fa fa-plus"></i>Add</button>
                        </div>
                        <div ng-class="{ 'hidden' : ! ctrl.collapeInstallers } ">
                            <div class="table-responsive">
                                <table class="table  "  ng-data="ctrl.data.scenarios[0].installers">
                                    <tbody ng-repeat="(indexI, installer) in ctrl.data.scenarios[0].installers">
                                        <tr style="padding:9px">
                                            <td class="podsTableTd">
                                                    {{indexI+1}}.&nbsp;Installer:&nbsp;
                                            </td>
                                            <td class="podsTableLeftTd"  style="width:10%;padding-top: 7px;">
                                                    <a ng-click="ctrl.expandInstaller(indexI)">{{installer.installer}}</a>
                                            </td>
                                            <td  style="width:80%;border: none; padding: 0px;" ng-class="{'hidden' : !ctrl.buttonInstaller}">
                                                    <button type="button" ng-class="{'hidden' : !auth.isAuthenticated}"  class="btn btn-danger btn-xs" ng-click="ctrl.openDeleteInstallerModal(installer.installer)" ><i class="fa fa-minus"></i>Delete</button>
                                            </td>
                                        </tr>
                                        <tr ng-class="{ 'hidden' : ! ctrl.collapeInstaller[indexI] }">
                                            <td class="podsTableTd">
                                                Versions:
                                            </td>
                                            <td width="90%" class="podsTableLeftTd">
                                                <div class="col-md-1" style="padding:0px">
                                                    <a ng-click="ctrl.expandVersions(indexI)">
                                                            <p ng-if="ctrl.collapeVersions[indexI]">Hide</p>
                                                            <p ng-if="!ctrl.collapeVersions[indexI]">Show</p>
                                                    </a>
                                                </div>
                                                <div class="col-md-1" style="padding:0px" ng-class="{'hidden' : !ctrl.buttonVersion}">
                                                    <button type="button" class="btn btn-success btn-xs"  ng-class="{'hidden' : !auth.isAuthenticated}" ng-click="ctrl.openAddVersionModal(installer.installer)" ><i class="fa fa-plus"></i>Add</button>
                                                </div>
                                                <div ng-class="{ 'hidden' : ! ctrl.collapeVersions[indexI] } " class="col-md-12">
                                                    <div class="table-responsive">
                                                            <table class="table  "  ng-data="inctrl.data.scenarios[0].installers">
                                                            <tbody ng-repeat="(indexV, version) in installer.versions">
                                                            <tr style="padding:9px">
                                                                <td class="podsTableTd">
                                                                    {{indexV+1}}.&nbsp;Version:
                                                                </td>
                                                                <td class="podsTableLeftTd"  style="width:10%;padding-top: 7px;">
                                                                    <a ng-click="ctrl.expandVersion(indexI,indexV)">{{version.version}}</a>
                                                                </td>
                                                                <td  style="width:80%;border: none; padding: 0px;" ng-class="{'hidden' : !ctrl.buttonVersion}">
                                                                        <button type="button" class="btn btn-danger btn-xs" ng-class="{'hidden' : !auth.isAuthenticated}"  ng-click="ctrl.openDeleteVersionModal(version.version, installer.installer)" ><i class="fa fa-minus"></i>Delete</button>
                                                                </td>
                                                            </tr>
                                                            <tr style="padding:9px" ng-class="{ 'hidden' : ! ctrl.collapeVersion[indexI][indexV] } ">
                                                                <td class="podsTableTd">
                                                                    Owner:
                                                                </td>
                                                                <td class="podsTableLeftTd" style="width:90%">{{version.owner}}</td>
                                                            </tr>
                                                            <tr style="padding:9px" ng-class="{ 'hidden' : ! ctrl.collapeVersion[indexI][indexV] }">
                                                                <td class="podsTableTd">
                                                                    Projects:
                                                                </td>
                                                                <td width="90%" class="podsTableLeftTd">
                                                                    <div class="col-md-1" style="padding:0px">
                                                                        <a ng-click="ctrl.expandProjects(indexI,indexV)">
                                                                                <p style="width:50%" ng-if="ctrl.collapeProjects[indexI][indexV]">Hide</p>
                                                                                <p style="width:50%" ng-if="!ctrl.collapeProjects[indexI][indexV]">Show</p>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-md-1" style="padding:0px" ng-class="{'hidden' : !ctrl.buttonProject }">
                                                                        <button type="button" ng-class="{'hidden' : !auth.isAuthenticated}"  class="btn btn-success btn-xs" ng-click="ctrl.openAddProjectModal(version.version,installer.installer)" ><i class="fa fa-plus"></i>Add</button>
                                                                    </div>
                                                                    <div ng-class="{ 'hidden' : ! ctrl.collapeProjects[indexI][indexV] } " class="col-md-12">
                                                                        <div class="table-responsive">
                                                                            <table class="table  "  ng-data="version.projects">
                                                                            <tbody ng-repeat="(indexP, project) in version.projects" >
                                                                            <tr style="padding:9px">
                                                                                <td class="podsTableTd">
                                                                                        {{indexP+1}}.&nbsp;Project:
                                                                                </td>
                                                                                <td class="podsTableLeftTd"  style="width:10%;padding-top: 7px;">
                                                                                    <a ng-click="ctrl.expandProject(indexI, indexV, indexP)">{{project.project}}</a>
                                                                                </td>
                                                                                <td  style="width:80%;border: none; padding: 0px;" ng-class="{'hidden' : !ctrl.buttonProject}">
                                                                                        <button type="button" class="btn btn-danger btn-xs" ng-class="{'hidden' : !auth.isAuthenticated}"  ng-click="ctrl.openDeleteProjectModal(project,version.version, installer.installer)" ><i class="fa fa-minus"></i>Delete</button>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-class="{ 'hidden' : ! ctrl.collapeProject[indexI][indexV][indexP] }">
                                                                                <td class="podsTableTd">
                                                                                        Trust&nbsp;Indicators:
                                                                                </td>
                                                                                <td class="podsTableLeftTd" style="width:90%">
                                                                                    <a ng-click="ctrl.expandTrustIndicator(indexI, indexV, indexP)">
                                                                                        <p ng-if="ctrl.collapeTrustIndicator[indexI][indexV][indexP]">Hide</p>
                                                                                        <p ng-if="!ctrl.collapeTrustIndicator[indexI][indexV][indexP]">Show</p>
                                                                                    </a>
                                                                                            <table class="table  "  ng-class="{ 'hidden' : ! ctrl.collapeTrustIndicator[indexI][indexV][indexP] } " ng-data="project.trust_indicators">
                                                                                            <tbody  ng-repeat="(indexTI, trust_indicator) in project.trust_indicators" >
                                                                                            <tr style="padding:9px">
                                                                                                <td class="podsTableTd">
                                                                                                    Status:&nbsp;
                                                                                                </td>
                                                                                                <td  width="90%" class="podsTableLeftTd">
                                                                                                        {{trust_indicator.status}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr style="padding:9px">
                                                                                                    <td class="podsTableTd">
                                                                                                            Date:&nbsp;
                                                                                                    </td>
                                                                                                    <td  width="90%" class="podsTableLeftTd">
                                                                                                        {{trust_indicator.date}}
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                            <tr>
                                                                                                <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.openAddTrustIndicatorModal(project.project,version.version,installer.installer)"  ng-class="{ 'hidden' : !ctrl.collapeTrustIndicator[index] || !auth.isAuthenticated}">
                                                                                                    <i class="fa fa-plus"></i>Add</button>
                                                                                            </tr>
                                                                                            </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-class="{ 'hidden' : ! ctrl.collapeProject[indexI][indexV][indexP] }">
                                                                                <td class="podsTableTd">
                                                                                        Scores:
                                                                                </td>
                                                                                <td class="podsTableLeftTd" style="width:90%">
                                                                                    <a ng-click="ctrl.expandScore(indexI, indexV, indexP)">
                                                                                        <p ng-if="ctrl.collapeScore[indexI][indexV][indexP]">Hide</p>
                                                                                        <p ng-if="!ctrl.collapeScore[indexI][indexV][indexP]">Show</p>
                                                                                    </a>
                                                                                            <table class="table" ng-class="{ 'hidden' : ! ctrl.collapeScore[indexI][indexV][indexP] } "  ng-data="project.scores">
                                                                                            <tbody ng-repeat="(indexSC, score) in project.scores" >
                                                                                            <tr style="padding:9px">
                                                                                                <td class="podsTableTd">
                                                                                                    Score:&nbsp;
                                                                                                </td>
                                                                                                <td  width="90%" class="podsTableLeftTd">
                                                                                                        {{score.score}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr style="padding:9px">
                                                                                                    <td class="podsTableTd">
                                                                                                        Date:&nbsp;
                                                                                                    </td>
                                                                                                    <td  width="90%" class="podsTableLeftTd">
                                                                                                        {{score.date}}
                                                                                                    </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                            <tr>
                                                                                                <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.openAddScoreModal(project.project,version.version,installer.installer)"  ng-class="{ 'hidden' : !ctrl.collapeScore[index] || !auth.isAuthenticated}"><i class="fa fa-plus"></i>Add</button>
                                                                                            </tr>
                                                                                            </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-class="{ 'hidden' : ! ctrl.collapeProject[indexI][indexV][indexP] }">
                                                                                <td class="podsTableTd">
                                                                                        Customs:
                                                                                </td>
                                                                                <td  class="podsTableLeftTd" style="width:90%">
                                                                                    <a ng-click="ctrl.expandCustom(indexI, indexV, indexP)">
                                                                                            <p ng-if="ctrl.collapeCustom[indexI][indexV][indexP]">Hide</p>
                                                                                            <p ng-if="!ctrl.collapeCustom[indexI][indexV][indexP]">Show</p>
                                                                                    </a>
                                                                                            <table class="table" ng-class="{ 'hidden' : ! ctrl.collapeCustom[indexI][indexV][indexP] } " ng-data="project.customs">
                                                                                            <tbody>
                                                                                            <tr ng-repeat-start="(indexCU, custom) in project.customs" style="padding:9px">
                                                                                                <td class="podsTableTd" style="float: none!important;">
                                                                                                    {{custom}}
                                                                                                </td>
                                                                                                <td width="90%" class="podsTableLeftTd">
                                                                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.openDeleteCustomModal(custom,project.project,version.version,installer.installer)" ng-class="{'hidden' : !auth.isAuthenticated}" ><i class="fa fa-minus"></i>Delete</button>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr ng-repeat-end=>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.openAddCustomModal(project.project,version.version,installer.installer)"  ng-class="{ 'hidden' : !ctrl.collapeCustom[indexI][indexV][indexP] || !auth.isAuthenticated}"><i class="fa fa-plus"></i>Add</button>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                            </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-repeat-end=>
                                                                            </tr>
                                                                            </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-bottom:24px;"></div>
<div class='clo-md-12'>
    <div ng-show="ctrl.showError" class="alert alert-danger" role="alert">
        <span class="pull-right">&nbsp;{{ctrl.error}}</span>
        <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true" >Error:</span>
    </div>
    <div ng-show="ctrl.showSuccess" class="alert alert-success" role="alert">
        <span class="pull-right">&nbsp;{{ctrl.success}}</span>
        <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
    </div>
</div>
<div class="row" style="margin-bottom:24px;"></div>