<legend>Project</legend>
<div class="row" style="margin-bottom:24px;"></div>

<div class="tabbable tabs-below" ng-init="selectedTab = 1;">
    <ul class="nav nav-tabs nav-justified" style="width:30%">
        <li ng-class="{active: selectedTab == 1}">
            <a ng-click="selectedTab = 1;">Overview</a>
        </li>
        <li ng-class="{active: selectedTab == 2}">
            <a ng-click="selectedTab = 2;">Test Cases</a>
        </li>
    </ul>

    <div class="tab-content" ng-show="selectedTab == 1">
            <div style="padding-right:0px; margin-top:20px" >
                    <div class="table-responsive">
                        <table class="table"  ng-data="ctrl.data.pods">
                            <tbody>
                                <tr style="padding:9px">
                                    <td class="podsTableTd">Id&nbsp;:</td>
                                    <td class="podsTableLeftTd">{{ctrl.data._id}}</td>
                                </tr>
                                <tr style="padding:9px">
                                    <td class="podsTableTd">Name&nbsp;:</td>
                                    <td width="90%" class="podsTableLeftTd">{{ctrl.data.name}}</td>
                                </tr>
                                <tr style="padding:9px">
                                    <td class="podsTableTd">Owner&nbsp;:</td>
                                    <td width="90%" class="podsTableLeftTd">{{ctrl.data.owner}}</td>
                                </tr>
                                <tr style="padding:9px">
                                    <td class="podsTableTd">Created&nbsp;at&nbsp;:</td>
                                    <td width="90%" class="podsTableLeftTd">{{ctrl.data['creation_date']}}</td>
                                </tr>
                                <tr style="padding:9px">
                                    <td class="podsTableTd">Description&nbsp;:</td>
                                    <td  width="90%" class="podsTableLeftTd">{{ctrl.data.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
    <div class="tab-content" ng-show="selectedTab == 2">
            <div ng-include src="'testapi-ui/components/projects/project/testCases/testCases.html'"></div>
    </div>
</div>
<div ng-show="ctrl.showError" class="alert alert-danger col-md-9" role="alert" style="margin-top:0px">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ctrl.error}}
</div>
<div ng-show="ctrl.showSuccess" class="alert alert-success col-md-9" role="alert" style="margin-top:0px">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Update Success
</div>
